<div class="display">
    <mat-grid-list cols="{{col}}" rowHeight="200px" gutterSize="{{gutterSize}}em">
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile" rowspan="2"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
        <mat-grid-tile class="tile"></mat-grid-tile>
    </mat-grid-list>
</div>